<script lang="ts">
  import { Row, Cell } from "@smui/data-table"
</script>

<Row>
  <Cell>Security Name</Cell>
  <Cell>Symbol</Cell>
  <Cell numeric>Quote</Cell>
  <Cell numeric>Hold</Cell>
  <Cell numeric>Entry</Cell>
  <Cell numeric>Value</Cell>
  <Cell numeric>Diff.</Cell>
</Row>
