:root {
  --mdc-typography-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --mdc-typography-body2-font-family: var(--mdc-typography-font-family);
  --mdc-typography-subtitle2-family: var(--mdc-typography-font-family);
  font-family: var(--mdc-typography-font-family);

  --mdc-typography-font-weight: 400;
  --mdc-typography-body2-font-weight: var(--mdc-typography-font-weight);
  --mdc-typography-subtitle2-font-weight: 700;
  font-weight: var(--mdc-typography-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 700;
}
