<script lang="ts">
  import { onDestroy } from "svelte"
  import SecurityTable from "../SecurityTable/index.svelte"
  import Header from "../Header/index.svelte"
  import { document } from "../../store/document"
  import type { Securities } from "../../pp/getSecurities"
  import { securities } from "../../store/securities"
  import { quotes } from "../../store/quotes"
  import type { Holdings } from "../../pp/getHoldings"
  import { holdings } from "../../store/holdings"
  import type { Quotes } from "../../types/Quotes"
  import type { ResolvedNode } from "load-portfolio-performance-xml"
  import Drawer from "../Drawer/index.svelte"
  import { AppContent } from "@smui/drawer"
  import PerformanceSummary from "../PerformanceSummary/index.svelte"

  let currentDocument: ResolvedNode | undefined = undefined
  let currentSecurities: Securities = {}
  let currentHoldings: Holdings = {}
  let currentQuotes: Quotes = {}
  let isDrawerOpen = false

  const handleToggleDrawer = () => {
    isDrawerOpen = !isDrawerOpen
  }

  const unsubscribeDocument = document.subscribe((document) => {
    currentDocument = document
  })

  const unsubscribeHoldings = holdings.subscribe((holdings) => {
    currentHoldings = holdings
  })

  const unsubscribeQuotes = quotes.subscribe((quotes) => {
    currentQuotes = quotes
  })

  const unsubscribeSecurities = securities.subscribe((securities) => {
    currentSecurities = securities
  })

  onDestroy(() => {
    unsubscribeDocument()
    unsubscribeHoldings()
    unsubscribeQuotes()
    unsubscribeSecurities()
  })
</script>

<nav>
  <Drawer bind:open={isDrawerOpen} />
</nav>

<header>
  <Header on:toggleDrawer={handleToggleDrawer} />
</header>

<AppContent>
  <main>
    {#if currentDocument}
      <section>
        <h2>Summary</h2>
        <PerformanceSummary />
      </section>

      <section>
        <h2>Positions</h2>
        <SecurityTable holdings={currentHoldings} quotes={currentQuotes} securities={currentSecurities} />
      </section>
    {/if}
    <!-- <p>Version {version}</p>
    <p>Licensed under {license}</p>
    <p><a href="https://gitlab.com/rondonjon/pp-viewer">Website</a></p> -->
  </main>
</AppContent>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 64px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px;
  }

  main section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
</style>
