<script lang="ts">
  import DataTable, { Head, Body, Pagination, Label } from "@smui/data-table"
  import IconButton from "@smui/icon-button"
  import Select, { Option } from "@smui/select"
  import type { Holdings } from "../../pp/getHoldings"
  import type { Securities } from "../../pp/getSecurities"
  import type { Quotes } from "../../types/Quotes"
  import DataRow from "./DataRow/index.svelte"
  import HeaderRow from "./HeaderRow/index.svelte"

  export let securities: Securities
  export let holdings: Holdings
  export let quotes: Quotes

  let rowsPerPage = 10
  let currentPage = 0

  $: items = Object.values(securities)
  $: start = currentPage * rowsPerPage
  $: end = Math.min(start + rowsPerPage, items.length)
  $: slice = items.slice(start, end)
  $: lastPage = Math.max(Math.ceil(items.length / rowsPerPage) - 1, 0)

  $: if (currentPage > lastPage) {
    currentPage = lastPage
  }
</script>

<DataTable>
  <Head>
    <HeaderRow />
  </Head>
  <Body>
    {#each slice as s (s.uuid)}
      <DataRow security={s} holding={holdings[s.uuid]} quote={quotes[s.tickerSymbol]} />
    {/each}
  </Body>

  <Pagination slot="paginate">
    <svelte:fragment slot="rowsPerPage">
      <Label>Rows Per Page</Label>
      <Select variant="outlined" bind:value={rowsPerPage} noLabel>
        <Option value={10}>10</Option>
        <Option value={25}>25</Option>
        <Option value={100}>100</Option>
      </Select>
    </svelte:fragment>
    <svelte:fragment slot="total">
      {start + 1}-{end} of {items.length}
    </svelte:fragment>
    <IconButton
      class="material-icons"
      action="first-page"
      title="First page"
      on:click={() => (currentPage = 0)}
      disabled={currentPage === 0}
    >
      first_page
    </IconButton>
    <IconButton class="material-icons" action="prev-page" title="Prev page" on:click={() => currentPage--} disabled={currentPage === 0}>
      chevron_left
    </IconButton>
    <IconButton
      class="material-icons"
      action="next-page"
      title="Next page"
      on:click={() => currentPage++}
      disabled={currentPage === lastPage}
    >
      chevron_right
    </IconButton>
    <IconButton
      class="material-icons"
      action="last-page"
      title="Last page"
      on:click={() => (currentPage = lastPage)}
      disabled={currentPage === lastPage}
    >
      last_page
    </IconButton>
  </Pagination>
</DataTable>

<style>
  /* td {
    text-overflow: ellipsis;
  } */
</style>
