<script lang="ts">
  export let value: number
  export let color: boolean = false

  const valueString = new Intl.NumberFormat(undefined, {
    style: "currency",
    currency: "EUR",
  }).format(value)
</script>

<span class={!color || value === 0 ? undefined : value < 0 ? "neg" : "pos"}>
  {valueString}
</span>

<style>
  .neg {
    color: #e00000;
  }

  .pos {
    color: #00b000;
  }
</style>
