<script lang="ts">
  import TopAppBar, { Row, Section, Title } from "@smui/top-app-bar"
  import IconButton from "@smui/icon-button"
  import { quote, type Quote } from "../../yahoo/quote"
  import { isValidTickerSymbol } from "../../yahoo/isValidTickerSymbol"
  import { xml } from "../../store/xml"
  import type { ResolvedNode } from "load-portfolio-performance-xml"
  import { createEventDispatcher, onDestroy } from "svelte"
  import { document } from "../../store/document"
  import type { Securities } from "src/lib/pp/getSecurities"
  import { quotes } from "../../store/quotes"
  import { securities } from "../../store/securities"

  const dispatch = createEventDispatcher()

  let fileInput: HTMLInputElement
  let isFetchingQuotes = false
  let currentDocument: ResolvedNode | undefined = undefined
  let currentSecurities: Securities = {}

  const handleToggleDrawer = () => {
    dispatch("toggleDrawer")
  }

  const handleFetchQuotes = async () => {
    isFetchingQuotes = true

    const symbols = Object.values(currentSecurities)
      .map((p) => p.tickerSymbol)
      .filter(Boolean)
      .filter(isValidTickerSymbol)

    try {
      const data = await quote(symbols)
      const entries = data.map((record) => [record.symbol, record] as [string, Quote])
      quotes.set(Object.fromEntries(entries))
    } catch (err) {
      alert(err)
    }

    isFetchingQuotes = false
  }

  const handleOpenFile = () => {
    fileInput.click()
  }

  const handleSelectFile = async () => {
    const file = fileInput.files[0]
    if (file) {
      xml.set(await file.text())
    }
  }

  const handleCloseFile = () => {
    xml.set(undefined)
  }

  const unsubscribeDocument = document.subscribe((document) => {
    currentDocument = document
  })

  const unsubscribeSecurities = securities.subscribe((securities) => {
    currentSecurities = securities
  })

  onDestroy(() => {
    unsubscribeDocument()
    unsubscribeSecurities()
  })
</script>

<TopAppBar variant="static" dense>
  <Row>
    <Section>
      <IconButton class="material-icons" on:click={handleToggleDrawer}>menu</IconButton>
      <Title>PP Viewer</Title>
    </Section>
    <Section align="end" toolbar>
      {#if currentDocument}
        <IconButton on:click={handleFetchQuotes} class="material-icons" aria-label="Fetch Quotes" disabled={isFetchingQuotes}
          >price_check</IconButton
        >
        <IconButton on:click={handleCloseFile} class="material-icons" aria-label="Close File">close</IconButton>
      {:else}
        <IconButton on:click={handleOpenFile} class="material-icons" aria-label="Open File">file_open</IconButton>
      {/if}
    </Section>
  </Row>
</TopAppBar>

<input class="fileInput" type="file" bind:this={fileInput} accept=".xml" on:change={handleSelectFile} />

<style>
  .fileInput {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
  }
</style>
