<script lang="ts">
  import Card from "@smui/card"
  import { securities } from "../../store/securities"
  import { onDestroy } from "svelte"
  import type { Holdings } from "../../pp/getHoldings"
  import type { Securities } from "../../pp/getSecurities"
  import type { Quotes } from "../../types/Quotes"
  import { holdings } from "../../store/holdings"
  import { quotes } from "../../store/quotes"
  import Price from "../Price/index.svelte"

  let currentSecurities: Securities | undefined
  let currentHoldings: Holdings | undefined
  let currentQuotes: Quotes | undefined

  let accruedInvestment: number | undefined
  let accruedValue: number | undefined
  let accruedPerformance: number | undefined

  const unsubscribeSecurities = securities.subscribe((securities) => {
    currentSecurities = securities
  })

  const unsubscribeHoldings = holdings.subscribe((holdings) => {
    currentHoldings = holdings
  })

  const unsubscribeQuotes = quotes.subscribe((quotes) => {
    currentQuotes = quotes
  })

  $: {
    if (currentHoldings) {
      accruedInvestment = Object.values(currentHoldings).reduce((prev, h) => prev + h.avgPrice * h.quantity, 0)
      if (currentSecurities && currentQuotes) {
        accruedValue = Object.entries(currentHoldings).reduce<number | undefined>((prev, [uuid, { quantity }]) => {
          const tickerSymbol = currentSecurities[uuid]?.tickerSymbol
          const quote = tickerSymbol && currentQuotes[tickerSymbol]?.regularMarketPrice
          if (prev === undefined || !tickerSymbol || typeof quote !== "number") {
            return undefined
          }
          return prev + quantity * quote
        }, 0)
        accruedPerformance = typeof accruedValue === undefined ? undefined : accruedValue - accruedInvestment
      } else {
        accruedValue = undefined
        accruedPerformance = undefined
      }
    } else {
      accruedPerformance = undefined
    }
  }

  onDestroy(() => {
    unsubscribeHoldings()
    unsubscribeQuotes()
    unsubscribeSecurities()
  })
</script>

<div class="grid">
  {#if accruedInvestment !== undefined}
    <Card padded>
      <div class="cardLayout">
        <h3>Investment</h3>
        <Price value={accruedInvestment} />
      </div>
    </Card>
    {#if accruedValue !== undefined}
      <Card padded>
        <div class="cardLayout">
          <h3>Value</h3>
          <Price value={accruedValue} />
        </div>
      </Card>
      {#if accruedPerformance !== undefined}
        <Card padded>
          <div class="cardLayout">
            <h3>Performance</h3>
            <Price value={accruedPerformance} color />
          </div>
        </Card>
      {/if}
    {/if}
  {/if}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .grid h3 {
    font-size: 1.2em;
  }

  .cardLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .cardLayout > *:last-child() {
    text-align: right;
  }
</style>
