<script lang="ts">
  import { Row, Cell } from "@smui/data-table"
  import Price from "../../Price/index.svelte"
  import type { Holding } from "../../../pp/getHoldings"
  import type { Security } from "../../../pp/getSecurities"
  import type { Quote } from "../../../yahoo/quote"
  import { isValidTickerSymbol } from "../../../yahoo/isValidTickerSymbol"

  export let security: Security
  export let holding: Holding | undefined = undefined
  export let quote: Quote | undefined = undefined

  $: marketPrice = quote ? quote.regularMarketPrice : undefined
  $: tickerSymbol = security.tickerSymbol || undefined
</script>

<Row>
  <Cell>
    {security.name}
  </Cell>
  <Cell>
    {#if tickerSymbol}
      <span class="tickerSymbol" class:invalid={!tickerSymbol || !isValidTickerSymbol(tickerSymbol)}>
        {tickerSymbol}
      </span>
    {/if}
  </Cell>
  <Cell numeric>
    {#if marketPrice !== undefined}
      <Price value={marketPrice} />
    {/if}
  </Cell>
  <Cell numeric>
    {holding ? holding.quantity?.toFixed(2) : ""}
  </Cell>
  <Cell numeric>
    {#if holding}
      <Price value={holding.quantity * holding.avgPrice} />
    {/if}
  </Cell>
  <Cell numeric>
    {#if marketPrice !== undefined && holding}
      <Price value={holding.quantity * marketPrice} />
    {/if}
  </Cell>
  <Cell numeric>
    {#if marketPrice !== undefined && holding}
      <Price color value={holding.quantity * (marketPrice - holding.avgPrice)} />
    {/if}
  </Cell>
</Row>

<style>
  .tickerSymbol.invalid {
    color: #e00000;
  }
</style>
